.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 283px;
  background-image: url("images/E9155E41-9A3F-462C-A36B-CCDD34C1F95F.jpg");
  background-position: 62.01% 50%;
  width: 283px;
  margin: 1px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 45px 6px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  margin-top: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-1 .u-image-1 {
    width: 237px;
    height: 237px;
    margin-top: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-1 {
    width: 166px;
    height: 166px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 165px;
  }

  .u-section-1 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: 0;
    margin-left: 69px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 498px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-text-1 {
  line-height: 1.2;
  font-size: 1.875rem;
  margin: 0 464px 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  padding: 0;
}

.u-section-2 .u-btn-3 {
  margin-top: 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/IMG_67011.jpg");
  width: 283px;
  height: 283px;
  background-position: 50% 50%;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 66px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-2 .u-image-1 {
    width: 253px;
    height: 253px;
    margin-top: 18px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 104px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 162px;
    height: 162px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1189px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 47px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 332px;
}

.u-section-3 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 331px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 631px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 391px;
}

.u-section-4 .u-group-1 {
  min-height: 389px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 906px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 660px;
  margin: -272px auto 41px 29px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 154px;
  width: 143px;
  object-position: 100% 0%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 11px;
}

.u-section-4 .u-image-2 {
  height: 201px;
  object-position: 0% 0%;
  width: 161px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 165px;
  object-position: 50% 0%;
  width: 165px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 706px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 635px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-4 .u-image-1 {
    height: 164px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    height: 183px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    width: 142px;
    margin-top: 18px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    min-height: 386px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 486px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -264px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-4 .u-image-3 {
    height: 164px;
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-4 .u-group-1 {
    min-height: 362px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 346px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 138px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 94px;
    margin: -332px 12px 28px auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 69px;
    width: 67px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 119px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 96px;
    width: 75px;
    margin-top: 1px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 93px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 10px 10px 0;
  }

  .u-section-4 .u-image-3 {
    height: 83px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-group-1 {
    min-height: 371px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 146px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 12px;
    margin-right: 112px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 108px;
    margin-top: -322px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-image-1 {
    height: 81px;
    width: 81px;
    margin-top: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-4 .u-image-2 {
    height: 101px;
    width: 81px;
    margin-top: 2px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-4 .u-image-3 {
    height: 81px;
    margin-top: 5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 488px;
}

.u-section-5 .u-group-1 {
  min-height: 488px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 921px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 1px 0 0;
}

.u-section-5 .u-gallery-1 {
  width: 1080px;
  height: 249px;
  grid-gap: 10px 10px;
  margin: 20px 0 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: -22px;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-5 .u-over-slide-2 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-3 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-4 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-5 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-6 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-7 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-8 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-9 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-10 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-11 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-12 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-13 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-14 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-15 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-16 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-17 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-18 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-over-slide-19 {
  background-image: none;
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -49px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 45px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 721px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-gallery-1 {
    width: 880px;
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 1px;
    margin-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 501px;
  }

  .u-section-5 .u-gallery-1 {
    width: 660px;
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 29px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 28px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 361px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 744px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 47px 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 15px;
}

.u-section-6 .u-image-1 {
  height: 212px;
  width: 425px;
  margin: 45px auto 0 9px;
}

.u-section-6 .u-image-2 {
  width: 399px;
  height: 210px;
  margin: -43px auto 0 164px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 540px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  line-height: 1;
  font-weight: normal;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 9px -20px 0 0;
}

.u-section-6 .u-image-3 {
  width: 767px;
  height: 271px;
  margin: 160px auto 0 -200px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-6 .u-image-1 {
    width: 410px;
    height: 203px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 195px;
    margin-top: -29px;
    margin-left: 109px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 445px;
  }

  .u-section-6 .u-image-3 {
    width: 702px;
    margin-top: 128px;
    margin-left: -254px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-6 .u-image-1 {
    height: 149px;
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 149px;
    margin-top: -13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-3 {
    width: 507px;
    height: 188px;
    margin-top: 21px;
    margin-left: -192px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 183px;
    width: 525px;
    margin-top: 165px;
    margin-right: -5px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    width: 525px;
    margin: 7px auto -85px -2px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 39px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -494px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 89px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 397px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin: 1px auto 16px 7px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-6 .u-image-1 {
    height: 142px;
    width: 285px;
    margin-top: 255px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-6 .u-image-2 {
    height: 90px;
    width: 285px;
    margin: 9px 20px -99px auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    font-weight: 700;
    margin-top: -436px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-top: 5px;
    margin-right: -20px;
  }

  .u-section-6 .u-image-3 {
    height: 110px;
    width: 285px;
    margin-top: 272px;
    margin-right: 15px;
    margin-bottom: -23px;
  }
}