.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 800px;
  height: auto;
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}