.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 676px;
}

.u-section-1 .u-text-1 {
  line-height: 1.2;
  margin: 13px 95px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  margin: 2px 60px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -17px 80px 0 auto;
  padding: 13px 48px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 867px;
  margin: 27px auto 34px 107px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-video-1 {
  animation-duration: 3750ms;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 15px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin: 35px 20px 20px auto;
  }

  .u-section-1 .u-video-1 {
    left: auto;
    right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 90px;
    width: 720px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -5px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 7px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 176px;
  }
}