.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 564px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -564px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 35px;
}

.u-section-1 .u-text-1 {
  animation-duration: 6750ms;
  font-weight: normal;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: none;
  line-height: 1.2;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 84px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 292px;
  margin-top: 58px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 882px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 380px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 65px;
  animation-duration: 1000ms;
  width: 1015px;
  margin: 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 882px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 0 376px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  padding: 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 65px;
  animation-duration: 1000ms;
  width: 1015px;
  margin: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 12px 25px 0 auto;
  padding: 10px 23px 11px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -45px 220px 0 auto;
  padding: 9px 17px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -45px 415px 0 auto;
  padding: 9px 66px 10px 65px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 557px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -557px;
    margin-bottom: 16px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 95px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 258px;
    height: auto;
    margin-top: 56px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 513px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 254px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 82px;
    height: auto;
    width: 815px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 703px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 235px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-right: 222px;
    width: 815px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 216px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
    margin-left: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 262px;
    margin-top: 51px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 76px;
    width: 600px;
    margin-right: -60px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    width: 600px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 195px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 557px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 55px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 243px;
    margin-top: 90px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 323px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: -20px;
    width: 500px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-right: 343px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-custom-html-3 {
    width: 500px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-right: 55px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -46px;
    margin-right: auto;
    margin-left: 55px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 9px;
    margin-left: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 34px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 46px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 115px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 133px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 115px;
    margin-right: 5px;
    width: 300px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 26px;
    margin-right: 0;
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -45px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 15px;
    margin-left: 0;
    padding-right: 56px;
    padding-left: 55px;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 523px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 500px;
  height: auto;
  width: 1140px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  line-height: 36px;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  margin: -304px 206px 0 144px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: normal;
  border-style: solid;
  background-image: none;
  margin: -17px 423px 0 auto;
  padding: 13px 44px 13px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 940px;
    margin-top: -24px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -356px;
    margin-right: 84px;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    line-height: 29px;
    margin-top: -334px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 126px;
    margin-bottom: -19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 283px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 5px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: -320px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-right: 60px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 511px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
    margin-top: 2px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: -228px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 43px;
    margin-right: auto;
    margin-left: 64px;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 547px;
  height: auto;
  width: 1080px;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 213px;
  margin: -408px auto 0 289px;
}

.u-section-3 .u-text-1 {
  margin: 14px 352px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 38px 132px 0 auto;
  padding: 13px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 563px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 494px;
    width: 880px;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    height: 205px;
    margin-top: -404px;
    margin-left: 219px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 99px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-right: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -390px;
    margin-left: 108px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 27px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 435px;
    margin-right: -10px;
    width: 520px;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 193px;
    margin-top: -403px;
    margin-left: 41px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 131px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 436px;
    width: 319px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 235px;
    height: 145px;
    margin-top: -367px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -225px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 193px;
    margin-right: auto;
  }
}html {background: #0C0019;}
.container {
	display:flex;
	align-items: center;
	justify-content: center;
}
#redblocks > * {
    transform: translate3d(160px, -93px, 0);
    animation: moveblocks 4s 1s ease infinite;
}
@keyframes moveblocks {
    0% {
        transform: translate3d(160px, -93px, 0);
    }
    50%,
    100% {
        transform: translate(0);
    }
}
#firstBlock {
    transform: translate3d(160px, -93px, 0);
    animation: firstBlock 4s 1s ease infinite;
}
#blockdis {
    animation: blockdis 4s 1s ease infinite;
}
@keyframes blockdis {
    30% {
        opacity: 1;
    }
    40%, 100% {
        opacity: 0;
        transform: translate3d(-160px, 93px, 0);
    }
}
@keyframes firstBlock {
    0%,
    15% {
        opacity: 0;
    }
    40%,
    100% {
        opacity: 1;
    }
}
@for $i from 1 to 5 {
    #redblocksparticles g:nth-child(#{$i}) polygon {
        opacity: 0.35;
        animation: glow 4s 1s ease infinite;
    }
}
@for $i from 1 to 20 {
    #redblocksparticles g:nth-child(1) g circle:nth-child(#{$i}){
        animation: dots 4s #{1000+$i*50}ms ease infinite;
    }
    #redblocksparticles g:nth-child(2) g circle:nth-child(#{$i}){
        animation: dots 4s #{1000+$i*50}ms ease infinite;
    }
    #redblocksparticles g:nth-child(3) g circle:nth-child(#{$i}){
        animation: dots 4s #{1000+$i*50}ms ease infinite;
    }
    #redblocksparticles g:nth-child(4) g circle:nth-child(#{$i}){
        animation: dots 4s #{1000+$i*50}ms ease infinite;
    }
}
@keyframes glow {
    0%,
    45% {
        opacity: 0;
    }
    60%, 100% {
        opacity: 0.35;
    }
}
@keyframes dots {
    0%,
    35% {
        transform: translate(0);
        opacity: 0;
    }
    60%, 80% {
        transform: translate(55px, -35px);
        opacity: 1;
    }
    100% {
        transform: translate(55px, -35px);
        opacity: 0;
    }
}
@for $i from 1 to 22 {
    #purplebg > :nth-child(#{$i}) {
        animation: up 2s #{$i* 500}ms ease infinite alternate;
    }
}
@keyframes up {
    to {
        transform: translate(0, -25px);
    }
}
@for $i from 1 to 13 {
    #bottomparticles > :nth-child(#{$i}){
        animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
    }
    #bottomparticles2 > :nth-child(#{$i}){
        animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
    }
    #redglowparticles > :nth-child(#{$i}){
        animation: particles 4s #{$i*300}ms ease infinite alternate, p 2s ease infinite alternate;
    }
}
@keyframes p {
    85%,
     100% {
        opacity: 0;
    }
}
@keyframes particles {
    0%, 100% {
        transform: translate(0);
    }
    50% {
        transform: translate(10px, 15px);
    }
}
.particlespoly {
    animation: p 2s ease infinite alternate;
}
@for $i from 1 to 4 {
    #d-app g:nth-child(#{$i}){
        animation: updown 2s #{$i*200}ms ease-in-out infinite alternate;
    }
}
@for $i from 1 to 4 {
    #d-apps2 g:nth-child(#{$i}){
        animation: updown 2s #{$i*200}ms ease-in-out infinite alternate;
    }
}
@for $i from 1 to 20 {
    #d-apps2wrapper g:nth-child(3) g > circle:nth-child(#{$i}){
        animation: updown 2s #{$i*50}ms ease infinite alternate;
    }
}
@for $i from 1 to 20 {
    #d-appswrapper g:nth-child(2) g > circle:nth-child(#{$i}){
        animation: updown 2s #{$i*50}ms ease infinite alternate;
    }
}
@keyframes updown {
    100% {
        transform: translate(0, -20px);
    }
}
#Layer_1 > g:nth-child(2) > g:nth-child(18) > g:nth-child(12) {
    animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}
@keyframes arrows {
    to {
        transform: translate(25px, 25px);
    }
}
#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(13) {
    animation: arrows2 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}
@keyframes arrows2 {
    to {
        transform: translate(-25px, -25px);
    }
}
#Layer_1 > g:nth-child(2) > g:nth-child(17) > g:nth-child(12) {
    animation: arrows 1s ease-in-out infinite alternate, p 2s ease infinite alternate;
}
canvas {
position: relative; 
left: 50%;
	height: 600px;
transform: translateX(-50%);
}