.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 500px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-group-1 {width: 845px; min-height: 264px; margin: 177px auto 0 69px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 900; text-decoration: none solid rgb(255, 255, 255); text-transform: none; animation-duration: 1000ms; line-height: 1; background-image: none; font-size: 3rem; margin: 0 128px 0 0}
.u-section-1 .u-custom-html-1 {min-height: 490px; margin: -284px -198px 0 -99px}
.u-section-1 .u-text-2 {font-size: 1rem; margin: -210px 394px 0 0}
.u-section-1 .u-btn-1 {border-style: none; padding: 0}
.u-section-1 .u-text-3 {font-size: 1rem; margin: -4px 176px 0 0}
.u-section-1 .u-btn-2 {border-style: none; padding: 0}
.u-section-1 .u-custom-html-2 {min-height: 65px; animation-duration: 1000ms; margin: -5px 176px 0 0}
.u-section-1 .u-btn-3 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 5px 69px 0 auto; padding: 13px 38px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 412px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 412px}
.u-section-1 .u-group-1 {margin-left: 35px}
.u-section-1 .u-custom-html-1 {min-height: 471px; height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {margin-top: -191px}
.u-section-1 .u-custom-html-2 {height: auto} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 400px}
.u-section-1 .u-layout-cell-1 {min-height: 334px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0; padding-bottom: 0}
.u-section-1 .u-group-1 {min-height: 304px; width: 657px; margin-top: 0; margin-right: 24px; margin-left: auto}
.u-section-1 .u-container-layout-2 {padding: 40px 0 0}
.u-section-1 .u-text-1 {width: auto; margin-top: 15px; margin-right: 94px; margin-left: 30px}
.u-section-1 .u-custom-html-1 {min-height: 274px; margin-top: -151px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {margin-top: -128px; margin-right: 237px; margin-left: 32px}
.u-section-1 .u-text-3 {font-size: 0.75rem; width: auto; margin-top: 0; margin-right: 201px; margin-left: 32px}
.u-section-1 .u-custom-html-2 {margin-top: 0; margin-right: 180px; margin-left: 32px}
.u-section-1 .u-btn-3 {margin-top: -1px; margin-right: 57px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 334px}
.u-section-1 .u-layout-cell-1 {min-height: 251px}
.u-section-1 .u-group-1 {width: 540px; margin-right: 0}
.u-section-1 .u-container-layout-2 {padding-top: 30px}
.u-section-1 .u-text-1 {margin-top: 25px; margin-right: 7px; margin-left: 0}
.u-section-1 .u-text-2 {width: auto; margin-right: 269px; margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 116px; margin-left: 0}
.u-section-1 .u-custom-html-2 {margin-right: 0; margin-left: 0}
.u-section-1 .u-btn-3 {margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 351px}
.u-section-1 .u-layout-cell-1 {min-height: 351px}
.u-section-1 .u-container-layout-1 {padding-top: 20px}
.u-section-1 .u-group-1 {min-height: 467px; margin-bottom: -136px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-2 {padding-top: 0}
.u-section-1 .u-text-1 {font-size: 1.25rem; margin-top: 60px; margin-right: 24px}
.u-section-1 .u-custom-html-1 {min-height: 352px; margin-top: -102px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-2 {font-size: 0.75rem; margin-top: -250px; margin-right: 240px}
.u-section-1 .u-text-3 {font-size: 0.625rem; margin-right: 0; width: auto}
.u-section-1 .u-custom-html-2 {margin-right: 24px}
.u-section-1 .u-btn-3 {margin-top: 45px; margin-right: 2px} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 485px}
.u-section-2 .u-container-layout-1 {padding: 30px 0}
.u-section-2 .u-custom-html-1 {min-height: 500px; margin: 9px 0 0}
.u-section-2 .u-text-1 {line-height: 36px; font-family: Oswald, sans-serif; font-weight: normal; font-size: 1.875rem; margin: -359px 223px 0 127px}
.u-section-2 .u-btn-1 {text-transform: uppercase; font-size: 0.875rem; font-weight: 700; letter-spacing: normal; border-style: solid; background-image: none; margin: 0 299px 0 auto; padding: 13px 44px 13px 43px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 500px}
.u-section-2 .u-container-layout-1 {padding-top: 25px}
.u-section-2 .u-custom-html-1 {height: auto; margin-top: -19px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {width: auto; margin-top: -365px; margin-right: 269px; margin-left: 139px}
.u-section-2 .u-btn-1 {margin-right: 169px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 524px}
.u-section-2 .u-layout-wrap-1 {width: 720px; margin-right: auto; margin-bottom: 20px; margin-left: -4px}
.u-section-2 .u-layout-cell-1 {min-height: 504px}
.u-section-2 .u-container-layout-1 {padding-bottom: 0}
.u-section-2 .u-custom-html-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {line-height: 29px; margin-top: -311px; margin-right: 109px; margin-left: 57px}
.u-section-2 .u-btn-1 {margin-top: 23px; margin-right: 92px} }

@media (max-width: 767px){ .u-section-2 {min-height: 283px}
.u-section-2 .u-sheet-1 {min-height: 525px}
.u-section-2 .u-layout-wrap-1 {position: relative; min-height: 324px; width: 540px; margin-left: 0}
.u-section-2 .u-layout-cell-1 {min-height: 378px}
.u-section-2 .u-container-layout-1 {padding: 5px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.5rem; margin-top: -323px; margin-left: 5px; margin-right: 5px}
.u-section-2 .u-btn-1 {margin-top: 0; margin-right: 48px; margin-bottom: -136px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 504px}
.u-section-2 .u-layout-wrap-1 {width: 340px; margin-bottom: 60px}
.u-section-2 .u-layout-cell-1 {min-height: 238px}
.u-section-2 .u-custom-html-1 {min-height: 551px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1rem; margin-top: -324px; margin-right: 14px; margin-left: 0}
.u-section-2 .u-btn-1 {margin-top: 14px; margin-right: 42px; margin-bottom: -76px} }.u-section-3 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {margin: 0}
.u-section-3 .u-layout-cell-1 {min-height: 500px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 454px; height: 252px; margin: 78px 53px 0 auto}
.u-section-3 .u-text-1 {margin: -36px auto 0 90px}
.u-section-3 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 15px 268px 0 auto; padding: 13px 66px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 435px; background-position: 50% 50%}
.u-section-3 .u-image-1 {margin-top: 33px}
.u-section-3 .u-text-1 {margin-top: -11px; margin-left: 0}
.u-section-3 .u-btn-1 {margin-right: 68px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {margin-top: 63px}
.u-section-3 .u-text-1 {margin-top: -47px}
.u-section-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-3 {min-height: 651px}
.u-section-3 .u-layout-cell-1 {min-height: 75px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 312px; height: 193px}
.u-section-3 .u-text-1 {margin-top: 23px} }

@media (max-width: 575px){ .u-section-3 {min-height: 563px}
.u-section-3 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 47px}
.u-section-3 .u-image-1 {margin-top: 47px; margin-right: 8px}
.u-section-3 .u-text-1 {width: auto; margin-top: 45px; margin-left: -10px}
.u-section-3 .u-btn-1 {margin-top: 27px} } -- particles 