.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 500px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-group-1 {width: 845px; min-height: 557px; margin: 0 auto 0 80px}
.u-section-1 .u-container-layout-2 {padding: 28px 30px 30px 0}
.u-section-1 .u-custom-html-1 {min-height: 617px; margin: -58px -215px 0 -110px}
.u-section-1 .u-text-1 {animation-duration: 6750ms; font-weight: normal; text-decoration: none solid rgb(255, 255, 255); text-transform: none; line-height: 1.2; font-size: 1.25rem; letter-spacing: 1px; margin: -404px 0 0}
.u-section-1 .u-text-2 {animation-duration: 6750ms; font-weight: normal; text-decoration: none solid rgb(255, 255, 255); text-transform: none; line-height: 1.2; font-size: 2.25rem; margin: 47px 0 0}
.u-section-1 .u-text-3 {font-size: 1rem; margin: 158px 21px 0 -1px}
.u-section-1 .u-text-4 {font-size: 1rem; margin: -50px 176px 0 0}
.u-section-1 .u-custom-html-2 {min-height: 65px; animation-duration: 1000ms; height: auto; margin: -78px 176px 0 0}
.u-section-1 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: -142px 60px 0 auto; padding: 13px 38px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 412px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 412px}
.u-section-1 .u-group-1 {margin-left: 35px}
.u-section-1 .u-custom-html-1 {min-height: 378px; height: auto; margin-top: -557px; margin-right: -43px; margin-left: 35px}
.u-section-1 .u-text-1 {margin-top: 368px}
.u-section-1 .u-text-2 {width: auto; margin-top: 20px; margin-right: 11px}
.u-section-1 .u-text-3 {width: auto; margin-top: 120px; margin-right: 243px; margin-left: 0}
.u-section-1 .u-text-4 {width: auto; margin-top: 0}
.u-section-1 .u-custom-html-2 {margin-top: -99px; margin-right: 220px}
.u-section-1 .u-btn-1 {margin-top: -116px; margin-right: 11px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 400px}
.u-section-1 .u-layout-cell-1 {min-height: 334px}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0; padding-bottom: 0}
.u-section-1 .u-group-1 {min-height: 304px; width: 657px; margin-right: 24px; margin-left: auto}
.u-section-1 .u-container-layout-2 {padding-top: 40px; padding-right: 0; padding-bottom: 0}
.u-section-1 .u-custom-html-1 {min-height: 396px; margin-top: -67px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {font-size: 1rem; margin-top: -282px}
.u-section-1 .u-text-2 {font-size: 1.25rem; margin-top: 39px; margin-right: 0}
.u-section-1 .u-text-3 {margin-top: 57px; margin-right: 269px}
.u-section-1 .u-text-4 {font-size: 0.75rem; margin-right: 233px}
.u-section-1 .u-custom-html-2 {margin-top: -91px; margin-right: 27px}
.u-section-1 .u-btn-1 {margin-top: -98px; margin-right: 39px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 334px}
.u-section-1 .u-layout-cell-1 {min-height: 251px}
.u-section-1 .u-group-1 {min-height: 377px; width: 540px; margin-right: 0}
.u-section-1 .u-container-layout-2 {padding-top: 28px}
.u-section-1 .u-custom-html-1 {margin-top: -47px; margin-right: 3px; margin-left: -3px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; margin-top: -220px; margin-right: -3px; margin-left: 3px}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin-top: 19px; margin-right: -3px; margin-left: 3px}
.u-section-1 .u-text-3 {margin-top: 53px; margin-right: 266px; margin-left: 3px}
.u-section-1 .u-text-4 {margin-top: -1px; margin-right: 116px}
.u-section-1 .u-custom-html-2 {margin-top: -19px; margin-right: 26px; margin-left: 4px}
.u-section-1 .u-btn-1 {margin-top: -133px; margin-right: 8px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 351px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-top: 20px}
.u-section-1 .u-group-1 {min-height: 331px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-2 {padding-top: 0}
.u-section-1 .u-custom-html-1 {min-height: 352px; margin-top: -21px; margin-right: 0; margin-left: 0}
.u-section-1 .u-text-1 {font-size: 0.75rem; margin-top: -275px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {font-size: 1.125rem; margin-top: 10px; margin-left: 5px; margin-right: 5px; width: auto}
.u-section-1 .u-text-3 {font-size: 0.75rem; margin-top: 69px; margin-right: 239px; margin-left: 0}
.u-section-1 .u-text-4 {font-size: 0.625rem; margin-top: 6px; margin-left: 1px; margin-right: 1px}
.u-section-1 .u-custom-html-2 {margin-top: -14px; margin-right: 29px; margin-left: 1px}
.u-section-1 .u-btn-1 {margin-top: -148px; margin-right: 0} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 485px}
.u-section-2 .u-container-layout-1 {padding: 30px 0}
.u-section-2 .u-custom-html-1 {min-height: 500px; margin: 9px 0 0}
.u-section-2 .u-text-1 {line-height: 36px; font-family: Oswald, sans-serif; font-weight: normal; font-size: 1.875rem; margin: -359px 250px 0 100px}
.u-section-2 .u-btn-1 {text-transform: uppercase; font-size: 0.875rem; font-weight: 700; letter-spacing: normal; border-style: solid; background-image: none; margin: 0 299px 0 auto; padding: 13px 44px 13px 43px} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 500px}
.u-section-2 .u-container-layout-1 {padding-top: 25px}
.u-section-2 .u-custom-html-1 {height: auto; margin-top: -19px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {width: auto; margin-top: -365px; margin-right: 269px; margin-left: 139px}
.u-section-2 .u-btn-1 {margin-right: 169px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 524px}
.u-section-2 .u-layout-wrap-1 {width: 720px; margin-right: auto; margin-bottom: 20px; margin-left: -4px}
.u-section-2 .u-layout-cell-1 {min-height: 504px}
.u-section-2 .u-container-layout-1 {padding-bottom: 0}
.u-section-2 .u-custom-html-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {line-height: 29px; margin-top: -311px; margin-right: 109px; margin-left: 57px}
.u-section-2 .u-btn-1 {margin-top: 23px; margin-right: 92px} }

@media (max-width: 767px){ .u-section-2 {min-height: 283px}
.u-section-2 .u-sheet-1 {min-height: 525px}
.u-section-2 .u-layout-wrap-1 {position: relative; min-height: 324px; width: 540px; margin-left: 0}
.u-section-2 .u-layout-cell-1 {min-height: 378px}
.u-section-2 .u-container-layout-1 {padding: 5px}
.u-section-2 .u-text-1 {font-weight: 700; font-size: 1.5rem; margin-top: -323px; margin-left: 5px; margin-right: 5px}
.u-section-2 .u-btn-1 {margin-top: 0; margin-right: 48px; margin-bottom: -136px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 504px}
.u-section-2 .u-layout-wrap-1 {width: 340px; margin-bottom: 60px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-custom-html-1 {min-height: 551px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {font-size: 1rem; margin-top: -324px; margin-right: 14px; margin-left: 0}
.u-section-2 .u-btn-1 {margin-top: 14px; margin-right: 42px; margin-bottom: -76px} }.u-section-3 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {margin: 0}
.u-section-3 .u-layout-cell-1 {min-height: 500px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 454px; height: 252px; margin: 78px 53px 0 auto}
.u-section-3 .u-text-1 {margin: -36px auto 0 69px}
.u-section-3 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: 1px; background-image: none; margin: 15px 268px 0 auto; padding: 13px 66px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 435px; background-position: 50% 50%}
.u-section-3 .u-image-1 {margin-top: 33px}
.u-section-3 .u-text-1 {margin-top: -11px; margin-left: 0}
.u-section-3 .u-btn-1 {margin-right: 68px} }

@media (max-width: 991px){ .u-section-3 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {margin-top: 63px}
.u-section-3 .u-text-1 {margin-top: -47px}
.u-section-3 .u-btn-1 {margin-right: 0} }

@media (max-width: 767px){ .u-section-3 {min-height: 651px}
.u-section-3 .u-layout-cell-1 {min-height: 75px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {width: 312px; height: 193px}
.u-section-3 .u-text-1 {margin-top: 23px} }

@media (max-width: 575px){ .u-section-3 {min-height: 563px}
.u-section-3 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {margin-top: 47px; margin-right: 8px}
.u-section-3 .u-text-1 {width: auto; margin-top: 45px; margin-left: -10px}
.u-section-3 .u-btn-1 {margin-top: 27px} } -- particles 