.u-section-1 {
  background-image: none;
  min-height: 691px;
}

.u-section-1 .u-video-1 {
  height: 688px;
  width: 1302px;
  margin: 0 calc(((100% - 1140px) / 2) + -82px) 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -688px auto 13px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-group-1 {
  min-height: 648px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 590px;
  height: auto;
  width: 1087px;
  margin: 0 -33px;
}

.u-section-1 .u-text-1 {
  animation-duration: 6750ms;
  font-weight: normal;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: none;
  line-height: 1.2;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: -467px -2px 0 3px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 137px 882px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 12px 456px 0 3px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 65px;
  animation-duration: 1000ms;
  margin: 12px 290px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -256px auto 0 778px;
  padding: 13px 38px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 27px 43px 0 auto;
  padding: 11px 33px 11px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 514px;
  }

  .u-section-1 .u-video-1 {
    height: 501px;
    filter: brightness(0.85);
    width: 1010px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -496px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 8px;
    min-height: 486px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 500px;
    width: 1036px;
    margin-top: -33px;
    margin-left: -108px;
    margin-right: -108px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -326px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-right: 243px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-right: 228px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 93px;
    height: auto;
    margin-top: 0;
    margin-right: 264px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -130px;
    margin-left: 617px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 617px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 553px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 27px;
    min-height: 481px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 3px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 456px;
    width: 725px;
    margin-top: -95px;
    margin-left: -34px;
    margin-right: -34px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -330px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-right: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-right: 112px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 74px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 90px;
    margin-left: 411px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -124px;
    margin-left: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-video-1 {
    width: 540px;
    height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 460px;
    width: 530px;
    margin-top: -51px;
    margin-right: -7px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -395px;
    margin-right: 13px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 45px;
    margin-right: 267px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 12px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -165px;
    margin-right: 37px;
    margin-left: 297px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 138px;
    margin-right: 48px;
    margin-left: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 511px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: auto;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-group-1 {
    min-height: 449px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 352px;
    width: 340px;
    margin-top: -21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -326px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 58px;
    margin-right: 239px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-right: 3px;
    margin-left: -1px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 90px;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 43px;
    margin-right: 53px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 21px;
    margin-right: 53px;
    margin-left: auto;
    padding-right: 32px;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 523px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 509px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  line-height: 36px;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  margin: -283px 250px 0 100px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: normal;
  border-style: solid;
  background-image: none;
  margin: 0 272px 0 auto;
  padding: 13px 44px 13px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -365px;
    margin-right: 84px;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    line-height: 29px;
    margin-top: -345px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 8px;
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 283px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 5px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 48px;
    margin-bottom: -136px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 500px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: -213px;
  }

  .u-section-2 .u-btn-1 {
    margin: 32px auto 0 51px;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 213px;
  margin: 6px 50px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 53px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px 221px 0 auto;
  padding: 13px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    height: 205px;
    margin-top: 2px;
    margin-right: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 16px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 193px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
    margin-right: -10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    margin-top: 47px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
    margin-right: -6px;
    margin-left: -10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-right: 8px;
  }
} -- particles 