.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 600px;
  animation-duration: 1000ms;
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -600px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 35px;
}

.u-section-1 .u-text-1 {
  animation-duration: 6750ms;
  font-weight: normal;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: none;
  line-height: 1.2;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 107px 35px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 359px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 0 882px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 0 380px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 65px;
  animation-duration: 1000ms;
  height: auto;
  margin: 0 290px 0 0;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 0 882px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 0 376px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-custom-html-3 {
  min-height: 65px;
  animation-duration: 1000ms;
  height: auto;
  margin: 0 290px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -153px 35px 0 auto;
  padding: 13px 38px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 21px 35px 0 auto;
  padding: 12px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 516px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -516px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 56px;
    margin-right: 0;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 300px;
    margin-top: 42px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 513px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 254px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 561px;
    margin-right: 254px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 703px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 235px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: 222px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -204px;
    margin-right: auto;
    margin-left: 644px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 644px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 111px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: -60px;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 483px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-custom-html-3 {
    width: 600px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -85px;
    margin-left: 101px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -50px;
    margin-right: 58px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 550px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 25px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 289px;
    margin-top: 46px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: 323px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: -20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-right: 343px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-custom-html-3 {
    width: 500px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -83px;
    margin-left: 44px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -47px;
    margin-right: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 500px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 54px;
    margin-right: 10px;
  }

  .u-section-1 .u-tabs-1 {
    margin-top: 26px;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 90px;
    width: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 90px;
    width: 300px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 5px;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -50px;
    margin-right: 0;
    padding-right: 2px;
    padding-left: 2px;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 523px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 523px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 509px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  line-height: 36px;
  font-family: Oswald, sans-serif;
  font-weight: normal;
  font-size: 1.875rem;
  margin: -283px 250px 0 100px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: normal;
  border-style: solid;
  background-image: none;
  margin: 0 240px 0 auto;
  padding: 13px 44px 13px 43px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -365px;
    margin-right: 84px;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    line-height: 29px;
    margin-top: -345px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 8px;
    margin-right: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 283px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 5px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-right: 48px;
    margin-bottom: -136px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-custom-html-1 {
    min-height: 500px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: -213px;
  }

  .u-section-2 .u-btn-1 {
    margin: 32px auto 0 51px;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 380px;
  height: 213px;
  margin: 6px 50px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 0 299px 0 53px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px 221px 0 auto;
  padding: 13px 66px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 326px;
    height: 205px;
    margin-top: 2px;
    margin-right: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 152px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 16px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 16px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 651px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 193px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 23px;
    margin-right: -10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 47px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
    margin-right: -6px;
    margin-left: -10px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-right: 8px;
  }
} -- particles 