.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 886px;
}

.u-section-1 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 494px;
  background-image: none;
  margin: 16px 207px 60px 243px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 570px;
    margin-left: 143px;
    margin-right: 107px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.web-cam { 
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
video {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -125px;
  left: -125px;
}